workflows/n8n/wa/registration/wa-register.workflow.json
{
  "name": "WA Register",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa/register",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "wa-register-start",
      "name": "Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "byte-v-forge-wa-register"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nfunction digits(value) { return String(value || '').replace(/\\D+/g, ''); }\nfunction clean(value) { return String(value || '').trim(); }\nfunction upper(value) { return clean(value).toUpperCase(); }\nconst body = $json.body || $json;\nconst phoneInput = (body.phone && typeof body.phone === 'object') ? body.phone : {};\nconst proxyInput = (body.proxy && typeof body.proxy === 'object') ? body.proxy : {};\nconst cc = digits(phoneInput.country_calling_code || body.country_calling_code || body.cc || body.country_code);\nconst rawNumber = phoneInput.e164_number || body.e164_number || (typeof body.phone === 'string' ? body.phone : '') || body.phone_number || body.number || phoneInput.national_number || body.national_number || '';\nconst rawDigits = digits(rawNumber);\nlet e164 = clean(phoneInput.e164_number || body.e164_number || '');\nif (!e164 && clean(rawNumber).startsWith('+')) e164 = clean(rawNumber);\nif (!e164 && cc && rawDigits) e164 = `+${rawDigits.startsWith(cc) ? rawDigits : `${cc}${rawDigits}`}`;\nif (e164 && !e164.startsWith('+')) e164 = `+${digits(e164)}`;\nconst countryIso = upper(phoneInput.country_iso2 || body.country_iso2 || body.country_region || body.region);\nif (!e164 || !cc || !countryIso) throw new Error('phone must be normalized by wa-app BFF or include e164_number, country_calling_code and country_iso2');\nconst national = digits(e164).startsWith(cc) ? digits(e164).slice(cc.length) : rawDigits;\nconst workspaceID = body.workspace_id || 'default';\nconst jobID = body.job_id || $execution.id;\nconst proxyStateJSON = clean(body.proxy_state_json || body.state_json || proxyInput.proxy_state_json || proxyInput.state_json || '');\nconst proxyURL = clean(body.proxy_url || proxyInput.proxy_url || '');\nreturn [{ json: {\n  workspace_id: workspaceID,\n  job_id: jobID,\n  request_id: body.request_id || $execution.id,\n  actor_id: body.actor_id || '',\n  country_calling_code: cc,\n  country_code: cc,\n  country_iso2: countryIso,\n  country_region: countryIso,\n  region: countryIso,\n  phone: { e164_number: e164, country_calling_code: cc, national_number: national, country_iso2: countryIso },\n  proxy_state_json: proxyStateJSON,\n  state_json: proxyStateJSON,\n  proxy_url: proxyURL,\n  include_transient_fingerprint: true,\n  purpose: 'WA_REGISTRATION',\n} }];\n"
      },
      "id": "wa-register-normalize",
      "name": "Normalize Registration Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WA_ACTION_API_BASE_URL + '/fingerprints/commit' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { workspace_id: $('Normalize Registration Input').first().json.workspace_id, job_id: $('Normalize Registration Input').first().json.job_id, phone: $('Normalize Registration Input').first().json.phone, transient_fingerprint_ref: (($('Generate Registration Fingerprint').first().json.body || $('Generate Registration Fingerprint').first().json).fingerprint_ref || ($('Generate Registration Fingerprint').first().json.body || $('Generate Registration Fingerprint').first().json).transient_fingerprint_ref || ''), fingerprint: (($('Generate Registration Fingerprint').first().json.body || $('Generate Registration Fingerprint').first().json).fingerprint || {}) } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wa-register-commit-fp",
      "name": "Commit Fingerprint To Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WA_ACTION_API_BASE_URL + '/registration/request-sms-otp' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { workspace_id: $('Normalize Registration Input').first().json.workspace_id, job_id: $('Normalize Registration Input').first().json.job_id, phone: $('Normalize Registration Input').first().json.phone, wa_account_id: ($json.body || $json).wa_account_id, client_profile_id: ($json.body || $json).client_profile_id, protocol_profile_id: ($json.body || $json).protocol_profile_id, proxy: $('Run WA US Dynamic IP').first().json, proxy_url: $('Run WA US Dynamic IP').first().json.proxy_url || '' } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wa-register-request-otp",
      "name": "Request SMS OTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "otp-requested",
              "leftValue": "={{ ['VERIFICATION_REQUEST_STATUS_SENT','VERIFICATION_REQUEST_STATUS_WAITING','SENT','WAITING','ok','sent'].includes(($json.body || $json).status || ($json.body || $json).verification_request?.status || '') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wa-register-otp-requested",
      "name": "OTP Requested?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WA_ACTION_API_BASE_URL + '/registration/await-otp' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { workspace_id: $('Normalize Registration Input').first().json.workspace_id, job_id: $('Normalize Registration Input').first().json.job_id, phone: $('Normalize Registration Input').first().json.phone, wa_account_id: (($('Commit Fingerprint To Profile').first().json.body || $('Commit Fingerprint To Profile').first().json).wa_account_id || ''), verification_request_id: (($('Request SMS OTP').first().json.body || $('Request SMS OTP').first().json).verification_request_id || (($('Request SMS OTP').first().json.body || $('Request SMS OTP').first().json).verification_request || {}).verification_request_id || ''), timeout_seconds: 300, resume_url: $execution.resumeUrl } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wa-register-await-otp",
      "name": "Register OTP Resume URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        -260
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "limitType": "afterTimeInterval",
        "resumeAmount": 5,
        "resumeUnit": "minutes",
        "options": {}
      },
      "id": "wa-register-wait-otp",
      "name": "Wait For OTP Event",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2400,
        -260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst event = $json.body || $json;\nconst code = String(event.otp || event.code || event.verification_code || '').trim();\nreturn [{ json: { otp_received: Boolean(code), verification_code: code, raw_event: event } }];\n"
      },
      "id": "wa-register-normalize-otp",
      "name": "Normalize OTP Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "otp-received",
              "leftValue": "={{ $json.otp_received === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wa-register-otp-received",
      "name": "OTP Received?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2880,
        -260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WA_ACTION_API_BASE_URL + '/registration/submit-otp' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { workspace_id: $('Normalize Registration Input').first().json.workspace_id, job_id: $('Normalize Registration Input').first().json.job_id, verification_request_id: (($('Request SMS OTP').first().json.body || $('Request SMS OTP').first().json).verification_request_id || ''), code: $('Normalize OTP Event').first().json.verification_code, proxy: $('Run WA US Dynamic IP').first().json, proxy_url: $('Run WA US Dynamic IP').first().json.proxy_url || '' } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wa-register-submit-otp",
      "name": "Submit SMS OTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        -360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WA_ACTION_API_BASE_URL + '/registration/persist-login-state' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { workspace_id: $('Normalize Registration Input').first().json.workspace_id, job_id: $('Normalize Registration Input').first().json.job_id, registration: ($json.body || $json), client_profile_id: (($('Commit Fingerprint To Profile').first().json.body || $('Commit Fingerprint To Profile').first().json).client_profile_id || '') } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wa-register-persist-login",
      "name": "Persist Login State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        -360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst persist = $input.first().json.body || $input.first().json || {};\nconst submit = $('Submit SMS OTP').first().json.body || $('Submit SMS OTP').first().json || {};\nconst registration = submit.registration || submit;\nconst loginState = persist.login_state || submit.login_state || {};\nconst submitStatus = registration.status || submit.status || '';\nconst submitOK = submit.success === true || ['REGISTRATION_STATUS_REGISTERED','REGISTERED','registered'].includes(submitStatus);\nconst persistOK = persist.success === true && ['LOGIN_STATE_STATUS_ACTIVE','ACTIVE','active'].includes(loginState.status || persist.status || '');\nconst ok = submitOK && persistOK;\nconst status = ok ? 'REGISTERED' : (submitOK ? 'LOGIN_STATE_PERSIST_FAILED' : 'OTP_SUBMIT_FAILED');\nconst message = ok ? '' : (persist.error_message || submit.error_message || persist.error?.message || submit.error?.message || 'registration login state is not active');\nconst runtimeProxy = $('Run WA US Dynamic IP').first().json || {};\nconst proxy = { proxy_mode: runtimeProxy.proxy_mode || 'US_RANDOM_DYNAMIC_IP', country_code: runtimeProxy.country_code || 'US' };\nreturn [{ json: { success: ok, status, error_message: message, phone: $('Normalize Registration Input').first().json.phone, wa_account_id: (($('Commit Fingerprint To Profile').first().json.body || $('Commit Fingerprint To Profile').first().json).wa_account_id || ''), client_profile_id: (($('Commit Fingerprint To Profile').first().json.body || $('Commit Fingerprint To Profile').first().json).client_profile_id || ''), registration, login_state: loginState, proxy } }];\n"
      },
      "id": "wa-register-success",
      "name": "Build Registration Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        -360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst response = $('Request SMS OTP').first().json.body || $('Request SMS OTP').first().json || {};\nconst commit = $('Commit Fingerprint To Profile').first().json.body || $('Commit Fingerprint To Profile').first().json || {};\nconst verification = response.verification_request || {};\nreturn [{ json: {\n  success: false,\n  status: 'OTP_REQUEST_FAILED',\n  error_message: response.error_message || response.error?.message || 'sms otp request failed',\n  phone: $('Normalize Registration Input').first().json.phone,\n  wa_account_id: commit.wa_account_id || response.wa_account_id || verification.wa_account_id || '',\n  client_profile_id: commit.client_profile_id || response.client_profile_id || verification.client_profile_id || '',\n  verification_request_id: response.verification_request_id || verification.verification_request_id || '',\n  data: response,\n} }];\n"
      },
      "id": "wa-register-otp-request-failed",
      "name": "Build OTP Request Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        80
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst commit = $('Commit Fingerprint To Profile').first().json.body || $('Commit Fingerprint To Profile').first().json || {};\nconst request = $('Request SMS OTP').first().json.body || $('Request SMS OTP').first().json || {};\nconst verification = request.verification_request || {};\nreturn [{ json: {\n  success: false,\n  status: 'OTP_TIMEOUT',\n  error_message: 'otp was not provided before wait timeout',\n  phone: $('Normalize Registration Input').first().json.phone,\n  wa_account_id: commit.wa_account_id || verification.wa_account_id || '',\n  client_profile_id: commit.client_profile_id || verification.client_profile_id || '',\n  verification_request_id: request.verification_request_id || verification.verification_request_id || '',\n} }];\n"
      },
      "id": "wa-register-otp-timeout",
      "name": "Build OTP Timeout",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        -120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nreturn [{ json: $('Build Registration Success').first().json }];\n"
      },
      "id": "wa-register-return-success",
      "name": "Return Registration Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nreturn [{ json: $('Build OTP Request Failure').first().json }];\n"
      },
      "id": "wa-register-return-otp-request-failure",
      "name": "Return OTP Request Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nreturn [{ json: $('Build OTP Timeout').first().json }];\n"
      },
      "id": "wa-register-return-otp-timeout",
      "name": "Return OTP Timeout",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        360
      ]
    },
    {
      "parameters": {
        "workflowId": "wa-us-dynamic-ip"
      },
      "id": "wa-register-us-dynamic-ip",
      "name": "Run WA US Dynamic IP",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        960,
        -140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dynamic-ip-ready",
              "leftValue": "={{ $json.accepted === true && Boolean($json.proxy_url || $json.proxy_state_json) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wa-register-dynamic-ip-ok",
      "name": "Dynamic IP Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1080,
        40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst proxy = $('Run WA US Dynamic IP').first().json || {};\nreturn [{ json: { success: false, status: 'DYNAMIC_IP_UNAVAILABLE', error_message: proxy.error_message || 'dynamic IP unavailable', phone: $('Normalize Registration Input').first().json.phone, proxy: { proxy_mode: proxy.proxy_mode || 'US_RANDOM_DYNAMIC_IP', country_code: proxy.country_code || 'US' } } }];\n"
      },
      "id": "wa-register-dynamic-ip-failure",
      "name": "Build Dynamic IP Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PROXY_RUNTIME_API_BASE_URL + '/leases/release' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { account_id: $('Run WA US Dynamic IP').first().json.account_id || '' } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wa-register-release-dynamic-ip",
      "name": "Release Registration Dynamic IP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        -360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PROXY_RUNTIME_API_BASE_URL + '/leases/release' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { account_id: $('Run WA US Dynamic IP').first().json.account_id || '' } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wa-register-release-dynamic-ip-otp-failure",
      "name": "Release Registration Dynamic IP After OTP Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PROXY_RUNTIME_API_BASE_URL + '/leases/release' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { account_id: $('Run WA US Dynamic IP').first().json.account_id || '' } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wa-register-release-dynamic-ip-timeout",
      "name": "Release Registration Dynamic IP After Timeout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PROXY_RUNTIME_API_BASE_URL + '/leases/release' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { account_id: $('Run WA US Dynamic IP').first().json.account_id || '' } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "release-registration-dynamic-ip-after-acquire-failure",
      "name": "Release Registration Dynamic IP After Acquire Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2260,
        860
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nreturn [{ json: $('Build Dynamic IP Failure').first().json }];\n"
      },
      "id": "return-dynamic-ip-failure",
      "name": "Return Dynamic IP Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WA_ACTION_API_BASE_URL + '/fingerprints/random' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { workspace_id: $('Normalize Registration Input').first().json.workspace_id, job_id: $('Normalize Registration Input').first().json.job_id, phone: $('Normalize Registration Input').first().json.phone, persist: false, proxy: $('Run WA US Dynamic IP').first().json } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wa-registration-fingerprint",
      "name": "Generate Registration Fingerprint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WA_ACTION_API_BASE_URL + '/registration/cleanup-failed-account' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { workspace_id: $('Normalize Registration Input').first().json.workspace_id, job_id: $('Normalize Registration Input').first().json.job_id, phone: $('Normalize Registration Input').first().json.phone, wa_account_id: (($('Commit Fingerprint To Profile').first().json.body || $('Commit Fingerprint To Profile').first().json).wa_account_id || ''), verification_request_id: (($('Request SMS OTP').first().json.body || $('Request SMS OTP').first().json).verification_request_id || (($('Request SMS OTP').first().json.body || $('Request SMS OTP').first().json).verification_request || {}).verification_request_id || ''), data: $('Build OTP Request Failure').first().json } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wa-register-cleanup-otp-failure",
      "name": "Cleanup Pending WA Account After OTP Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WA_ACTION_API_BASE_URL + '/registration/cleanup-failed-account' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { workspace_id: $('Normalize Registration Input').first().json.workspace_id, job_id: $('Normalize Registration Input').first().json.job_id, phone: $('Normalize Registration Input').first().json.phone, wa_account_id: (($('Commit Fingerprint To Profile').first().json.body || $('Commit Fingerprint To Profile').first().json).wa_account_id || ''), verification_request_id: (($('Request SMS OTP').first().json.body || $('Request SMS OTP').first().json).verification_request_id || (($('Request SMS OTP').first().json.body || $('Request SMS OTP').first().json).verification_request || {}).verification_request_id || ''), data: $('Build OTP Timeout').first().json } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wa-register-cleanup-timeout",
      "name": "Cleanup Pending WA Account After Timeout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WA_ACTION_API_BASE_URL + '/registration/cleanup-failed-account' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { workspace_id: $('Normalize Registration Input').first().json.workspace_id, job_id: $('Normalize Registration Input').first().json.job_id, phone: $('Normalize Registration Input').first().json.phone, wa_account_id: (($('Commit Fingerprint To Profile').first().json.body || $('Commit Fingerprint To Profile').first().json).wa_account_id || ''), verification_request_id: (($('Request SMS OTP').first().json.body || $('Request SMS OTP').first().json).verification_request_id || (($('Request SMS OTP').first().json.body || $('Request SMS OTP').first().json).verification_request || {}).verification_request_id || ''), data: $('Build Registration Success').first().json } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "id": "wa-register-cleanup-registration-result",
      "name": "Cleanup Pending WA Account After Registration Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        -360
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Normalize Registration Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Registration Input": {
      "main": [
        [
          {
            "node": "Run WA US Dynamic IP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Fingerprint To Profile": {
      "main": [
        [
          {
            "node": "Request SMS OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request SMS OTP": {
      "main": [
        [
          {
            "node": "OTP Requested?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OTP Requested?": {
      "main": [
        [
          {
            "node": "Register OTP Resume URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build OTP Request Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register OTP Resume URL": {
      "main": [
        [
          {
            "node": "Wait For OTP Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For OTP Event": {
      "main": [
        [
          {
            "node": "Normalize OTP Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize OTP Event": {
      "main": [
        [
          {
            "node": "OTP Received?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OTP Received?": {
      "main": [
        [
          {
            "node": "Submit SMS OTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build OTP Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit SMS OTP": {
      "main": [
        [
          {
            "node": "Persist Login State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Login State": {
      "main": [
        [
          {
            "node": "Build Registration Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Registration Success": {
      "main": [
        [
          {
            "node": "Release Registration Dynamic IP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OTP Request Failure": {
      "main": [
        [
          {
            "node": "Release Registration Dynamic IP After OTP Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OTP Timeout": {
      "main": [
        [
          {
            "node": "Release Registration Dynamic IP After Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run WA US Dynamic IP": {
      "main": [
        [
          {
            "node": "Dynamic IP Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dynamic IP Ready?": {
      "main": [
        [
          {
            "node": "Generate Registration Fingerprint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Dynamic IP Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dynamic IP Failure": {
      "main": [
        [
          {
            "node": "Release Registration Dynamic IP After Acquire Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Registration Dynamic IP": {
      "main": [
        [
          {
            "node": "Cleanup Pending WA Account After Registration Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Registration Dynamic IP After OTP Failure": {
      "main": [
        [
          {
            "node": "Cleanup Pending WA Account After OTP Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Registration Dynamic IP After Timeout": {
      "main": [
        [
          {
            "node": "Cleanup Pending WA Account After Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Registration Dynamic IP After Acquire Failure": {
      "main": [
        [
          {
            "node": "Return Dynamic IP Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Registration Fingerprint": {
      "main": [
        [
          {
            "node": "Commit Fingerprint To Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Pending WA Account After Registration Result": {
      "main": [
        [
          {
            "node": "Return Registration Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Pending WA Account After OTP Failure": {
      "main": [
        [
          {
            "node": "Return OTP Request Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Pending WA Account After Timeout": {
      "main": [
        [
          {
            "node": "Return OTP Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "active": true,
  "id": "wa-register",
  "tags": []
}
